.root {
  font-size: 26px;
  outline: none;
  border: 3px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}
