/* Your styles goes here. */
.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;

}

.container {
  width: 1000px;
  margin: auto;
}

.table {
  border: 1px solid;
  border-collapse: collapse;
  table-layout: fixed; // auto
  width: 100%;
}

.td, .th {
  border: 1px solid;
}
